
# Java
*.class
*.jar
*.war
*.ear
*.db
*.log
*.hprof
*.javadoc
*.jfr
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
*.class
*.jar
*.war
*.ear
*.db
*.log
*.hprof
*.javadoc
*.jfr
